[2017-10-09 05:07] tizmagik opened #1 "React 16 warning"
Figure out why React 16 shows this warning:

[code]

You can see this in action with the example app:

[code]

Then navigate to http://localhost:3000

[2017-10-09 05:13] tizmagik opened #2 "Create common aliases (title, style, meta, link)"
Would be nice to create some aliases for convenience, so that instead of doing this:

[code]

You could do this:

[code]

The common aliases should be:

- `Title`
- `Style`
- `Meta`
- `Link`

Technically `base` and `script` are also allowed, but I can't think of a use case where you don't already know those values server-side.

[2017-10-09 05:13] tizmagik opened #3 "Tests"
There's some test case descriptions already written out and checked in, but they need the actual tests written

[2017-10-09 05:19] coymeetsworld commented on #1
I'll take a look

[2017-10-09 07:58] g33kidd commented on #2
Sounds like a plan! I'll give this a go! 😄

[2017-10-09 08:05] g33kidd commented on #2
@tizmagik Is there any example on how one might use the `HeadTag` with a style?

[2017-10-09 09:23] g33kidd commented on #2
I added some aliases over at https://github.com/g33kidd/react-head/commit/29d11a60a2ca80b8d5cb1e16ed08341374c5d653 there is a strange bug, `Cannot read property 'toLowerCase' of undefined` It's almost like the components aren't defined on initial page load, but when I uncomment the stuff in the example app, when it hot reloads the components are available again.

Really not sure what could be goin

[2017-10-09 15:24] adamgruber commented on #1
A quick look shows this might be an issue with using portals to render content outside of the root element. When React hydrates the DOM, it looks for a matching element in the server HTML but in this case can't find a `<title>` tag inside the root element so it throws a warning. Not sure this is fixable since this is the behavior you are going for.

[2017-10-09 16:18] tizmagik commented on #2
Thanks @g33kidd -- I pulled your branch and I don't see the error locally. Make sure you're running `npm run build:watch` in a separate terminal window so that you get the latest changes in the example app. I should document that workflow 😅

[2017-10-09 16:47] tizmagik opened #6 "Add a page to the SPA example app"
Add a new route to the example app that changes the `<title />` tag to show how this library works with client-side Single Page Apps.

[2017-10-09 18:01] Jdtanacredi commented on #6
I'll take a look at this in the next few days!

[2017-10-09 18:11] tizmagik commented on #1
Heh yea, this might be a use of React Portals in a way it wasn't intended to be used. But the use case feels legit! I'm hoping it's just a false negative warning or something.

Will try and get @gaearon 's attention sometime to see if this is legit or a hacky use of Portals that he recommends against. 😁

[2017-10-09 20:19] gaearon commented on #1
File an issue in React with an isolated small example please.

[2017-10-10 03:46] tizmagik commented on #1
Filed https://github.com/facebook/react/issues/11169

[2017-10-10 04:49] #3 closed

[2017-10-10 09:21] g33kidd commented on #2
Sweet, thanks for checking! I was having an issue at first running the example app, then I did that after I realized the build files were not changing haha. Alright, I'll finish this up 😄

[2017-10-10 19:16] #1 closed

[2017-10-10 23:24] tizmagik commented on #6
Closed in #10 — thanks @Jdtanacredi !

[2017-10-10 23:24] #6 closed

[2017-10-11 03:38] tizmagik opened #11 "Support cascading tags"
A potentially useful feature is the ability to support cascading tags with the same `tag` and/or `name` attribute.

This may be just a matter of collecting tags to an associative array (object) where the key is the tag name and then overriding previously collected tags as the components render in order.

Similar functionality [exists in react-helmet](https://github.com/nfl/react-helmet#example) wh

[2017-10-24 13:09] antonybudianto opened #13 "renderToNodeStream support"
Hi,

Do you have plan for renderToNodeStream support?

Thanks

[2017-10-27 03:03] tizmagik commented on #13
Haven't considered that use case yet, but presumably instead of pushing to an Array we could use an Observable. Do you have any thoughts on this?

[2017-10-28 13:35] antonybudianto commented on #13
Sorry I'd no idea too @tizmagik. But observable is good idea though.

[2017-10-30 23:02] tizmagik commented on #13
Actually hmm, now that I think about it, it probably doesn’t make sense for this library to actually do anything when rendering to node stream on the server since once the head is sent over the wire, it can’t change. The good news though is that on the client the head should be updated correctly with any head tags rendered deeper in the tree after minting.

Does that make sense? What do you think?

[2017-10-30 23:53] antonybudianto commented on #13
yes, I also think it's impossible, and the same [issue](https://github.com/nfl/react-helmet/issues/322) is still open on the react-helmet side.
My plan is to integrate this lib into https://github.com/antonybudianto/cra-universal, but looks like I must prepare both renderToString and renderToNodeStream versions where only renderToString can support document head SSR

[2017-10-31 03:53] tizmagik commented on #13
Well the good news is that this lib should work fine whether you `renderToString` or `renderToNodeStream`. The only issue is that the SSR head tags coming in from the server when rendering to node stream won't be immediately the right values, but will eventually be correct once the client mounts. In either case the code would look the same and you shouldn't need to do much conditional logic, if at

[2017-11-05 19:12] shizpi commented on #13
[code]

`loadable-components` has allowed me to use `renderToNodeStream`

I got everything to work thanks to https://github.com/alexisjanvier/universal-react
and https://marmelab.com/blog/2017/10/17/code-splitting.html

[2017-11-24 00:33] Maarten88 opened #14 "Server rendering methods other than renderToString(headTags)"
I implemented react-head in a small project, and got it working, great!

I did have some trouble however before I got it working, and had to make some modifications, I wonder if this may help others.

Because my server setup is somewhat different, I wanted to render the complete html using a react template that includes the complete head element. But I found that the HeadTag component only works c

[2017-11-30 08:58] jamesjjk opened #15 "Support for renderToStaticNodeStream/rendertostaticmarkup"
@tizmagik

I'm adding an option to remove [data-reactroot=""] from the queryselector string so your library supports both static stream and static markup. Like the simplicity of what you have done!

[2017-11-30 13:21] tizmagik commented on #15
Ah good idea, hadn’t considered that! Thanks 😁

[2017-12-20 17:35] jamesjjk opened #16 "Escaping selector strings"
@tizmagik

Hey you should consider also escaping selector strings:

[code]

[2017-12-21 01:12] tizmagik commented on #16
Good call, yes. Would you be up for submitting a PR?

[2017-12-21 01:15] tizmagik commented on #14
Thanks @Maarten88 this is a great write up. I appreciate you taking the time!

I think this might be related to #15 — I will dig into this more tomorrow and should hopefully have a built in fix soon.

Thanks again!

[2017-12-21 17:48] tizmagik commented on #13
Thanks for looking into this @shizpi -- they were inconsistent in what way?

[2017-12-21 17:54] tizmagik commented on #15
I think I'm going to solve this by passing in a custom data attribute specific to react-head. So something like `[data-rh=""]` so that regardless of the rendering method used, react-head will know which head tags it placed and then can remove/update them on the client safely. Thoughts?

[2017-12-21 21:25] tizmagik commented on #14
I proposed a solution to this here, https://github.com/tizmagik/react-head/issues/15#issuecomment-353415248 would love to hear your thoughts @Maarten88

[2017-12-22 09:20] Maarten88 commented on #14
Great, your proposal is exactly the same change that I made (except for the name of the attribute). It did not work without any attribute when I tried that.

If you want, I could push my updated version to github for comparison? I ported your code typescript and made a small change so it works for IE. It has been running without problems for a few weeks now, (on a site with with very low traffic h

[2017-12-22 09:25] Maarten88 commented on #15
That is the same change I made, it worked well for me.

[2017-12-23 18:28] jamesjjk commented on #14
@Maarten88 Great solution!

[2017-12-23 18:35] jamesjjk commented on #15
Closing in favour of solution #14

[2017-12-23 18:35] #15 closed

[2017-12-23 18:38] jamesjjk commented on #16
I have provided a PR for both #14 and Escaping strings. Please note that the build directory is included

[2017-12-25 14:04] #13 closed

[2017-12-25 14:04] #14 closed

[2017-12-26 15:58] tizmagik commented on #16
@jamesjjk I left the escaping out is the recent PR. I wanted to make sure I understand the use case for this first and have a test for it. Do you have an example of a real world use case you hit for this? Also happy to accept a separate PR if you’re up for it.

Thanks!

[2017-12-26 18:31] jamesjjk commented on #16
@tizmagik Use case is for example a title with a double quote mark.

[2018-05-14 20:04] #2 closed

[2018-05-15 19:49] tizmagik commented on #11
It means something like this:

[code]

Once the rendering is done, the "winning" Title should be `Some nested title`

[2018-05-15 21:00] tizmagik commented on #11
Yes, I believe so

[2018-05-15 21:01] TrySound commented on #11
I checked it. Seems like it is browser behaviour. They love to make things harder.

[2018-07-14 02:04] CanRau opened #40 "data-rh attribute"
Hi, just stumbled upon your module, while trying to evaluate the use of React Portals for <head> and as your plugin proofs it does indeed 👍
haven't had the time to test it out yet, but I was actually looking for an alternative to react-helmet because this https://github.com/nfl/react-helmet/issues/79 kind of bugs me..

not sure how big of an impact this has, but wanted to try it out and didn't lik

[2018-07-14 08:43] CanRau commented on #40
it bugs people in the mentioned comment https://github.com/nfl/react-helmet/issues/79#issuecomment-305266240 and I'm not sure how real it is for SEO as some worry..
probably it's not a thing..

[2018-07-14 09:10] TrySound commented on #40
There is a mention in this comment about these attributes shouldn't affect software outside of the site. So maybe we should open issues in failed validators.

People also mention google AMP breaking. I wonder to know why they use react in AMP which is a kind of framework without scripts or something.

[2018-07-14 09:15] CanRau commented on #40
they're probably generating AMPs using react?!

[2018-07-14 14:05] TrySound commented on #11
Cascading is supported for `title` and `meta` tags. Can this be closed?

[2018-07-14 14:16] TrySound opened #41 "3.0 api"
We have a couple of breaking changes and I need some brainstorming before the next release.

- `HeadProvider` has necessary `headTags` prop which is not necessary for client-only apps so users should specify it as empty arrays
- `HeadProvider` is used to solve cascading tags
- `HeadTag` is able to work without `HeadProvider`; will always render tag
- cascading handling requires unchanged `tag` pro

[2018-07-16 14:55] tizmagik commented on #40
Using React for AMP pages is a good use case (we currently do this at NYT), but in that case, since you don't care about the client-side heat tags being updated (not much if any client-side JS executes) you can regexp the data attribute out before sending the server markup.

Otherwise, as @TrySound suggested, this attribute is used so react-head knows which tags it's responsible for updating/remov

[2018-07-16 15:04] tizmagik commented on #41
This makes sense, however it should warn/throw an error on the server if the prop is not provided in those cases since this means misconfigures server rendering. Maybe can do a `typeof window` check and default to empty array on client and throw when on the server?

The only valid use case for not having `HeadProvider` in the tree is for cases when a user doesn't care about the cascade, right? Whi

[2018-07-16 22:18] tizmagik commented on #11
Yes, I think so. Thanks @TrySound

Closed via #39 and #37

[2018-07-16 22:18] #11 closed

[2018-07-18 05:44] CanRau commented on #40
So the issue can be closed if those attributes have no impact 👍

@TrySound yeah I had thought about validator issues rather than "real" problems, too 🥇

[2018-07-20 22:40] tizmagik commented on #40
Thanks @CanRau

[2018-07-20 22:40] #40 closed

[2018-07-27 08:54] zhangciwu opened #44 "Error when meta content includes quote"
Version: v3.0.0
Error stack:
[code]

Quite serious that page just gone white.

It seems cause of meta content which include double quote mark(")
Maybe do not use content as part of querySelector?  (or perform suitable escaping before query)

And, I only want head tags performs on server, and leave it alone at client side (My MPA do not use front-ending routing), Maybe add some option to do this.

[2018-07-27 09:18] zhangciwu commented on #44
My workaround:
[code]

Only for MPA without front-ending routing

[2018-07-27 09:59] TrySound commented on #44
@tizmagik Seems like there is something wrong with selector builder

[2018-07-28 00:32] tizmagik commented on #44
Yea, this is the same issue as #16 -- I think we just need to escape the selector

[2018-07-28 08:47] zhangciwu commented on #44
Using content as query isn't quite smart( content can be various and very long)
Maybe react's key mechanism is a good solution
Require key when insert head tags and using it to manipulate dom then

[2018-07-28 13:20] tizmagik commented on #44
We need some kind of deterministic key that we are aware of/control on both server and client side — open to suggestions!

[2018-07-28 16:18] TrySound commented on #44
We already use `data-rh` by the way

[2018-07-30 02:43] zhangciwu commented on #44
So just delete all `document.querySelectorAll('head [data-rh]')` to remove SSR tags?

[2018-07-30 16:58] tizmagik commented on #44
I think so, that should work. Would you be able to submit a PR and try it out?

[2018-08-05 07:41] CanRau opened #46 "<html> attributes"
While trying to migrate to react-head I noticed react-helmets <html lang="en" /> and I'm not sure if current react-head can do this already?
If yes I would like some help, if not might this be integrated some day or should I handle it differently?

By the way, the lang attribute is still relevant as far as I can tell right?

[2018-08-07 19:16] tizmagik commented on #46
If I understand your question correctly, right now react-head is meant to be used to add/update/remove HTML tags _within_ the `<head />` tag, and not for updating the `<html />` tag itself. I think using plain JS to update the attributes on `<html />` make the most sense for now.

I would be open to reviewing a PR that adds support for updating attributes for `body`, `html` and `title` tags for fe

[2018-08-09 00:33] CanRau commented on #46
okay, I'll look into it once I've got time and maybe come back with a PR, can't promise anything yet ;-)

could be closed, or kept open maybe someone else feels the need to add a PR :D

[2018-08-12 08:43] wmertens opened #49 "Scripts?"
I noticed that there is no support for script tags. This is useful for e.g. conditionally including trackers in SSR.
React-helmet can do it, but unfortunately it loads the script twice on SSR if you also render it on the client.

[2018-08-12 08:56] TrySound commented on #49
react-head will load it twice too. It's better to use another way of loading for scripts IMO.

@tizmagik What do you think?

[2018-08-12 09:03] wmertens commented on #49
It is very nice to be able to specify head content without having to
special case it in the SSR renderer - then the renderer can be a
package and your project has less code.

[2018-08-13 15:25] klase opened #51 "Duplicate Title tags"
If I render a Title head tag in my root component and then another with a different value in a child component it results in two title tags being collected on the server. Are we meant to filter collected tags manually so that there are no duplicates?

[2018-08-13 15:34] tizmagik commented on #51
Cascading title tag support was added in https://github.com/tizmagik/react-head/pull/37 and will be published as part of an upcoming v3 -- you can play around with it now by installing the `next` tag, `npm i react-head@next`

[2018-08-13 15:34] tizmagik commented on #51
Any feedback you have on this feature would be appreciated and super helpful right now, as we haven't yet cut an official v3 release 😁

[2018-08-13 15:38] klase commented on #51
Ah sure will have a look at v3 then :)

[2018-08-13 15:40] klase commented on #51
Btw, will cascading support be limited to just title tags? What about og:title, og:description etc?

[2018-08-13 15:50] TrySound commented on #51
Only `title` and `meta` are supported currently.

[2018-08-13 16:40] klase commented on #51
So I just tried the v3 branch, and on the server the headTags array contains only one title tag as expected. However, on the client this gets overwritten whenever the components updates client side.

Also, meta tags with the following structure doesn't cascade on server nor client:
`<Meta property="og:description" content="Some Content" />`

[2018-08-13 16:48] tizmagik commented on #51
I think the `next` tag is an older build, I'll cut a new one with the latest on master (I think that will include the meta support).

[2018-08-13 16:50] klase commented on #51
Great thanks @tizmagik

[2018-08-13 16:56] tizmagik commented on #51
Just published `3.0.0-1` (against `@next` tag). Give that a spin 😁

[2018-08-13 17:03] klase commented on #51
Yay works on the server now with the meta tags but still have the issue where it gets overwritten by the first occurring tag and title whenever client side rendering/updating kicks in.

I also get an error when navigating away from any page with nested titles or tags in its component tree:
`this.headTags.removeClientTag is not a function
    at HeadTag.componentWillUnmount`

[2018-08-13 18:14] tizmagik commented on #51
Thanks for the bug report @klase ! -- cc @TrySound

[2018-08-13 18:32] TrySound commented on #51
@klase Do you have HeadProvider in your tree in client?

[2018-08-13 20:50] praxxis commented on #51
I'm seeing this too on `3.0.0-1`, client side only, with a `HeadProvider`. A `title` tag is defined in our index.html, and it's not being overwritten by the `Title` `react-head` tag (a second `title` tag is inserted in `head` by `react-head`, but it's ignored by the browser). `react-helmet` doesn't have the same issue, it seems to replace the existing title.

[2018-08-13 21:02] klase commented on #51
ahh nope 🤦‍♂️ thanks @TrySound. Maybe it can be added to the Client Setup section of the readme to make it clearer.

Unrelated: In the readme you're using renderToString to render the headTags array. Any reason why you're not using renderToStaticMarkup instead to avoid having data-reactroot attributes on all the tags?

[2018-08-13 22:52] TrySound commented on #51
@praxxis We are doing "rehydration" only for tags with `data-rh` attributes. Removing another stuff won't affect SSR and may break something. It's probably better to not have `title` tag in your source html.

[2018-08-13 22:58] TrySound commented on #51
@klase Nope, could you open an issue about that?

[2018-08-14 08:31] TrySound commented on #41
@tizmagik Do we care about ie11 support? We use `.remove()` method which is not supported there.

[2018-08-14 09:31] klase opened #54 "Suggestion: use renderToStaticMarkup instead of renderToString"
In the readme renderString is used to render the headTags array. This adds a data-reactroot attribute to every element. Since only data-rh is used to "hydrate" anyway, renderToStaticMarkup might be a better choice to save a few bytes and get cleaner markup.

[2018-08-14 09:35] klase commented on #51
Closing this as 3.0.0-1 resolved my initial issue.

[2018-08-14 09:35] #51 closed

[2018-08-16 10:57] klase opened #57 "Some tags not collected"
When trying to add the following Meta tags (3.0.0-1):

[code]

Only the first and last one is actually collected and rendered.

[2018-08-16 11:19] TrySound commented on #57
What sense have `property` attribute in `meta` tag? Do you have any spec references? For now meta tags are distinguished only by `name` attribute, so in your case there're two meta with `"description"` name and `undefined` name.

[2018-08-16 11:25] klase commented on #57
It is used in the open graph protocol (http://ogp.me/) which was originally created by Facebook but is now managed by the Open Web Foundation.

Without it all link shares on facebook and twitter etc would be blank.

[2018-08-16 12:37] TrySound commented on #57
Okay, I think distinguishing by `name || property` should work.

[2018-08-17 01:54] tizmagik commented on #49
Interesting! I think maybe we could figure out a way to support this, either by no-op’ing on the server or no-op’ing on the client perhaps?

@wmertens is your use case for inline scripts or linked scripts, or both? If you have a specific use case or some sample code snippets or something you could share that would be helpful to understand the specific use case better.

Will play around with some i

[2018-08-17 01:57] tizmagik commented on #41
Hmm yea good point, I personally don’t care about IE11 support, but if that’s the only thing that’s breaking support maybe we could address it? What do you think @TrySound ?

[2018-08-17 07:06] TrySound commented on #41
`forEach` on `NodeList` too. Let's keep as is until somebody will request ie support.

[2018-08-17 08:10] wmertens commented on #49
The use case is both inline and linked scripts. The most important thing is that the scripts should only execute once when already rendered via SSR. I suppose checking the contents would be sufficient to ward against this?

Here's how I load ga:

[code]

and then I can just put `<GoogleAnalytics />` somewhere on the page and it will take care of the rest. The globals are added by webpack.

I think

[2018-08-17 16:29] TrySound commented on #41
@tizmagik I think we are ready for release.

[2018-08-17 16:58] tizmagik commented on #41
Awesome, great work @TrySound -- will cut a release as soon as I get a moment

[2018-08-17 17:01] tizmagik commented on #57
I think this was addressed in #58 so closing. @klase please re-open or create a new issue if you see any problems! Thanks!

[2018-08-17 17:01] #57 closed

[2018-08-18 19:48] tizmagik commented on #41
Just a quick update here, a couple more things I want to get done before a 3.0 release
 - [ ] Update example app to support new API
 - [ ] Some sort of migration guide (maybe can be included with the release notes)

Will try and get to these ASAP, unless someone else wants to (feel free).

[2018-08-19 07:35] tizmagik commented on #41
I was working through upgrading the example app and it struck me that `<HeadProvider />` really feels like an implementation detail.

What do you think about renaming it to `<ReactHead />` and making it the default export (as part of 3.0 release), e.g.

[code]

[2018-08-19 07:41] TrySound commented on #41
Nope.

1. default exports makes distribution trickier. cjs output will have `default` export which should be handled by tools. And for example webpack is not able to bundle well cjs which imports esm with default export. In any case I also think default exports is a wrong part of the spec and makes module system too complex.
2. `Provider` name is like a pattern. It's used in redux for years and us

[2018-08-19 15:41] TrySound commented on #41
The necessity of HeadProvider is defined by invariant. It should not be a problem for user.

[2018-08-20 00:47] tizmagik commented on #41
Ok that makes sense, you convinced me to keep the name as-is 😁

I'm having a bit of trouble upgrading the example app but should hopefully get it going soon. I can cut another pre-release if you're itching to use the latest though. Lmk

[2018-08-20 01:16] tizmagik commented on #41
Ok example app updated. I think there's issues with react-router and the new React Context API or something, so I opted for `@reach/router`

[2018-08-20 07:00] TrySound commented on #41
Yes, this is known problem. Old context providers cannot be inside the new api provider.

[2018-08-20 07:05] TrySound commented on #41
Hm, should be fixed in 16.4.
https://github.com/facebook/react/issues/12551#issuecomment-391557395

[2018-08-20 08:52] klase commented on #54
Thanks @tizmagik could you publish a new @next release to npm so I can test the last few updates?

[2018-08-20 09:02] TrySound commented on #54
Or we can land stable release and fix issues if they come.

[2018-08-21 04:49] tizmagik commented on #16
This is now fixed with the [latest v3.0.0 release](https://github.com/tizmagik/react-head/releases/tag/v3.0.0). Please feel free to open a new issue if there's still any problems.

[2018-08-21 04:49] #16 closed

[2018-08-21 04:49] tizmagik commented on #44
This is now fixed with the [latest v3.0.0 release](https://github.com/tizmagik/react-head/releases/tag/v3.0.0). Please feel free to open a new issue if there's still any problems.

[2018-08-21 04:49] #44 closed

[2018-08-21 04:50] tizmagik commented on #54
This is now fixed with the [latest v3.0.0 release](https://github.com/tizmagik/react-head/releases/tag/v3.0.0). Please feel free to open a new issue if there's still any problems.

[2018-08-21 04:50] #54 closed

[2018-08-21 04:50] tizmagik commented on #41
[v3.0.0 has been released](https://github.com/tizmagik/react-head/releases/tag/v3.0.0) 🎉

[2018-08-21 04:50] #41 closed

[2018-08-28 16:38] outofthisworld commented on #40
Can you generate hash to identify instead of a data attribute?

[2018-08-28 16:41] TrySound commented on #40
And where do you suggest to store this hash?

[2018-09-10 05:22] casertap opened #62 "Invariant failed in HeadTags"
I following the example to try to run this library on dev env and and prod env with ssr.
dev env is working fine but prod env with ssr is crashing with:
[code]
I took a screenshot to show you what the line `/isomorphic-react-redux-saga-ssr/build/Routes.js:2365` correspond to:

![screenshot from 2018-09-10 15-00-59](https://user-images.githubusercontent.com/284394/45277682-b07cbd00-b50c-11e8-88a6-f

[2018-09-10 05:44] casertap commented on #62
This is the React tree on my dev env:

![screenshot from 2018-09-10 15-43-40](https://user-images.githubusercontent.com/284394/45278423-5c73d780-b510-11e8-9c2b-86643edec5a8.png)

[2018-09-10 05:50] casertap commented on #62
For some reasons the React Context did not make it to the HeadTag component, making this line fail:
https://github.com/tizmagik/react-head/blob/b294fa74b4bdc01ae10a23e933da649467eba869/src/HeadTag.js#L30

Now I am using the redux (provider) with the connect method (consumer) on server side without any issue.

[2018-09-10 06:49] TrySound commented on #62
Could you try to wrap all other providers with HeadProvider. There can be a conflict between old and new context apis.

[2018-09-10 07:08] casertap commented on #62
I am also trying react-helmet-async and I also got some weird errors.

I am doing something a little unconventional on the server side and this might be the issue.
I have an `universal` folder a `client` folder and a `server` folder.
On the server side I using babel alone to transpile the few js files in the `server` folder but then I use webpack to build the `universal` bundle (on the server side

[2018-09-10 07:27] casertap commented on #62
@TrySound
I tried to wrap my HeadTags with a HeadProvider within the `universal` components but I still ge the same error

[2018-09-10 07:32] TrySound commented on #62
This error looks like you have two instances of head context. Make sure you use one instance in server side. Try to put `console.log` in react-head/dist/index.cjs.js and react-head/dist/index.esm.js and then run your app.

[2018-09-20 12:01] jaylynch opened #64 "Development server not working"
If I follow the instructions in `CONTRIBUTING.md`, I am unable to get the dev server to run, with any amount of prodding.

OSX 10.13.4, Node 10.10.0, nvm or system/Brew didn't seem to matter.

Playing around with config to try to get it to run or checking out an earlier version will sometimes provide ES module / Babel looking errors but checkout out current `master` and following the instructions

[2018-09-20 15:07] #62 closed

[2018-09-20 16:50] tizmagik commented on #64
Thanks for reporting, @jaylynch -- not sure what's going on exactly (I assume something to do with node 10), so for now I changed the example install step from `npm i` to `npm ci` and it seems to work. PR here, #67

[2018-09-20 17:01] #64 closed

[2018-09-20 23:12] jaylynch commented on #64
Looks like that's done it, thanks! :)

[2018-09-30 02:05] Symboler opened #68 "does not support ie9?"
![image](https://user-images.githubusercontent.com/33592051/46252216-51b9bc00-c498-11e8-9f9f-05043c6d3c7f.png)

[2018-09-30 08:39] TrySound commented on #68
No. IE9 will never be supported since it's dead browser.
https://www.microsoft.com/en-us/windowsforbusiness/end-of-ie-support

[2018-10-24 16:45] umidbekkarimov opened #70 "Proposal: headTagsToElement(headTags)"
Currently  `renderToString` of `headTags` with parent elements gives `Warning: Each child in an array or iterator should have a unique "key" prop.`.

[code]

So as a workaround I'm using `React.createElement` + `React.Fragment`.
[code]

It would be good if `react-head` had it's own utility to handle this situation, e.g:
[code]

I would glad to add PR after merge of #69.

[2018-10-24 18:02] TrySound commented on #70
I'd say `React.createElement(React.Fragment, {}, ...headTags)` is already utility which works great. Thanks for the tip. I would be glad to see PR to readme instead.

[2018-10-29 16:13] #70 closed

[2018-11-07 10:12] alekrist opened #72 "Element.remove() not supported in IE"
We get a JS exception when using the package in IE11 in this line (index.esm.js):
![2018-11-07 11_06_52-index esm js](https://user-images.githubusercontent.com/5364604/48124741-60f10e00-e27d-11e8-8275-aa1993143f63.png)

According to [this page](https://developer.mozilla.org/en-US/docs/Web/API/ChildNode/remove) , the remove() method is not supported at all in IE.
We currently use the polyfill menti

[2018-11-07 10:22] TrySound commented on #72
@alekrist PR welcome

[2018-11-08 21:42] alekrist commented on #72
@TrySound here you go:
#73

[2018-11-13 07:37] alekrist commented on #72
Fixed in v3.0.2

[2018-11-13 07:37] #72 closed

[2018-12-28 17:49] oyeanuj opened #74 "Document usage with SSR streaming"
As per discussion in #18, creating an issue that can serve as starting point for some documentation around using `react-head` with SSR streaming. Both #14 and #18 mention that there is support for it, just no recommended usage.

For reference, here are the docs that `react-helmet-async` has for streaming SSR:
https://github.com/staylor/react-helmet-async#streams

cc: @jamesjjk

[2019-01-02 05:40] oyeanuj commented on #62
@casertap What solution did you end up with here?

[2019-01-02 08:41] TrySound commented on #62
@oyeanuj Add HeadProvider in the root of the tree like said in docs.

[2019-01-02 18:19] tizmagik commented on #74
_Including my response from Twitter on here..._

I think the same mechanism that works for react-helmet-async should also work for react-head. The challenge with streaming is you don’t always know about all the head updates before you start streaming. You’ll need to either buffer the stream and deliver it all at once, or rely on client rendering to have it update to the latest changes in head once

[2019-01-03 19:52] dangodev opened #75 "TypeScript support"
Thanks for providing such a great package! Was running into react-helmet’s deprecated lifecycle API and was happy to find this solution.

I’m using it in a TypeScript environment, which (obviously) doesn’t seem to understand Flow, and needs definitions. [The @types repo](https://github.com/DefinitelyTyped/DefinitelyTyped) recommends shipping these TS definitions in the original package rather than

[2019-01-03 23:30] TrySound commented on #75
Sure, PR welcome. However you missed something in HeadProvider
https://github.com/tizmagik/react-head/blob/master/src/index.js.flow

[2019-01-04 00:34] dangodev commented on #75
`children`? I think TypeScript shouldn’t need that because I’m extending `React.ComponentClass`—it inherits `children` from that (along with other React APIs like synthetic events, etc).

[2019-01-04 00:49] TrySound commented on #75
AFAIK there is generic `ComponentType` similar to flow. Could you use it instead?

[2019-01-15 19:34] pkumar01 opened #76 "react-head supports meta update on lazy load"
Can react-head be updated when i am on the some component and that component get more data after certain scroll (lazy load) to render then can i update the meta with total count of product?

[2019-01-15 20:44] TrySound commented on #76
Yes, you can. All tags are dynamic.

[2019-01-16 16:35] pkumar01 commented on #76
i only need to update the meta tag when i get the new value during lazy load or any other things also to keep in mind.

[2019-01-16 16:56] TrySound commented on #76
@pkumar01 So did you tried it? Did it work for you?

[2019-02-04 21:55] #75 closed

[2019-02-12 02:08] Symboler commented on #68
thanks!

[2019-02-12 02:08] #68 closed

[2019-02-17 09:09] Jarred-Sumner opened #79 "itemProp support on <Meta />"
TLDR: `<Meta />` appears to not have support for the `itemprop` prop, which can be a great tool for improving SEO.

Problem: `<Meta />` tags that have an `itemProp` set don't get added to the DOM.

Ask: Can you add support for the `itemprop` attribute on `<Meta />`? Alternatively, would you accept a PR if I did?

More context:

`<meta />` supports the [`itemprop`](https://developer.mozilla.org/en-

[2019-02-17 09:13] Jarred-Sumner commented on #79
actually this is wrong

`itemProp` needs to be near the element so...nevermind

[2019-02-17 09:13] #79 closed

[2019-03-15 11:11] juan-bastidas commented on #11
Is there a way to about some Links to be duplicated, especially canonical?
I've found it repeated 3 times

<link rel="canonical" content="http://jeremygayed.com/" />

[2019-03-17 20:31] tizmagik commented on #11
@juan-bastidas mind creating a new issue? I'm not sure what's the use case to avoid duplicate canonical links -- that's not typically a tag that needs to cascade, but I'd be happy to review your use case in more detail in a new issue.

[2019-03-21 20:50] juan-bastidas opened #81 "canonical link is repeated"
Canonical link is duplicated, in my case I found it it repeated 3 times

[2019-03-21 21:05] #81 closed

[2019-03-21 21:17] juan-bastidas commented on #81
Sorry, I was about to upload a demo project when I found that it was due to an error in my side

[2019-03-21 21:17] juan-bastidas commented on #11
Sorry, I was about to upload a demo project when I found that it was due to an error in my side, react-head is OK

[2019-04-02 07:18] max-mykhailenko commented on #74
Where I can find example how use it with SSR sreaming? (or why PR was merged?)

[2019-04-12 18:24] tizmagik commented on #74
@max-mykhailenko it would work the same way it does here: https://github.com/staylor/react-helmet-async#streams

It would be nice to update our docs or example app with specific instructions (PRs welcome!) 😁

[2019-04-22 18:08] rdsedmundo opened #83 "Nested Title tags are not working"
I noticed that this was already discussed as per #11 and #51, but it's not working.

I'm using client-side rendering and `react-head` is outputting two `title` tags in the order that I provide them in the tree, and the browser behavior is to show the first one and ignore the rest.

[2019-04-22 18:13] rdsedmundo commented on #83
Nevermind, I realized what is going on in fact. The nesting is working. The problem is that, if I provide a default tag on my HTML template, `react-head` won't override it and it always stays on the top and "won the battle" compared to the tag that `react-head` inserts.

I'll change the title and description appropriately.

[2019-04-23 02:13] tizmagik commented on #83
I guess what is the desired behavior here? I'm not sure react-head should mess with existing markup on the page. Curious what your use case is for the `title` to be part of the template vs having react-head completely manage it?

[2019-04-23 10:10] rdsedmundo commented on #83
It's simply because this one can act as a default one and if I share the webpage on Slack, for example. If I do that and have the `<title>` tag on the HTML I can see the title being picked up. Relying only on `react-head` Slack won't get anything, as JS won't execute. And by the way, we don't have strong SEO requirements that would justify adding server-side rendering, the use case is really just

[2019-04-24 16:26] tizmagik commented on #83
Yes, makes total sense to have a fallback as part of the template @rdsedmundo 👍

However, I'm not sure `react-head` should manage that. Conceptually my mental model is when you `import { Title } from 'react-head'` then you're telling react-head to manage that Title tag -- I'm not sure it makes sense for react-head to manage _all_ title tags.

To solve your use case though I guess it would be relat

[2019-08-23 20:27] RichiCoder1 commented on #49
@tizmagik Would you still be game to take a PR on this? I might be interested.

[2019-08-24 17:41] tizmagik commented on #49
@RichiCoder1 — yea for sure, if you’re up for it! Thanks in advance 🙏

[2019-09-09 08:47] JoshuaToenyes opened #94 "Entities in computed attribute values? Suggested approach?"
Wonderful package :) I've been using it for a year or so, and it's awesome.

Question on usage when rendering a computed attribute that contains an ampersand (`&`). React likes to escape that to `&amp;`... any suggested workarounds?

This is the use case:

[code]

The `content` attribute ends up looking like this when rendered with `ReactDOM.renderToStaticMarkup`:

[code]

Thanks!

[2019-09-09 21:05] tizmagik commented on #94
Hey thanks for the nice note :)

I think what you're running into is React's auto-escaping by default. There's some ways around that documented here: https://shripadk.github.io/react/docs/jsx-gotchas.html -- does that help?

[2019-09-16 16:01] JoshuaToenyes commented on #94
Hi, @tizmagik – Sorry for the delayed response. Yes, I read through that. Unfortunately, I don't see a workaround for attributes. `dangerouslySetInnerHTML` is the closest... but isn't for attributes.

Unless I missing something obvious... Work correctly in the browser, just not with `renderToStaticMarkup`.

[2019-09-17 20:00] tizmagik commented on #94
Oh interesting, hmm... do you know if the problem is specific to react-head or to renderToStaticMarkup?

[2019-09-27 16:08] JoshuaToenyes commented on #94
I've got something going on with my GitHub notifications because I never get a notice when you respond...

Looks like it's an issue with ReactDOM's `renderToStaticMarkup`. Here's a runkit:
http://runkit.com/joshuatoenyes/reactdom-ampersand-test

Which leads me back to the _workaround..._ Seem's like this is definitely a JSX "gotcha."

So unless there's some known workaround that I'm not aware of (

[2019-09-28 15:08] JoshuaToenyes commented on #94
It looks like [React Helmet](https://github.com/nfl/react-helmet) can allow special characters in generated SSR output by flipping the `encodeSpecialCharacters` property to `false`.

They're manually building the tag strings:
https://github.com/nfl/react-helmet/blob/420810c644f94c3743f7b088321dbd62a8037b7b/src/HelmetUtils.js#L514

Obviously a more complex approach than React Head takes.

I'm going

[2019-09-28 15:08] #94 closed

[2019-10-06 00:06] TrejoCode commented on #83
Thank you, I stopped using react-head precisely for not having this feature, it is very, the proposed solution is simply horrible, nothing clean.
I hope in some future it will be corrected and I can return to this compenente.
- Thank you anyway.

[2019-10-06 16:39] tizmagik commented on #83
I’m curious how others feel about this. If there’s enough interest in having react-head clobber existing tags on the page that it otherwise does not manage, we can look into adding support.

[2019-10-06 23:30] JoshuaToenyes commented on #83
Personally, my mental model says that existing tags _should not_ be modified by react-head. The real solution here is SSR.

Although the `title` tag might seem special in this case, how would react-head handle other singleton type tags (i.e. `<meta name="viewport">...</meta>`). Would it clobber those too?

I image troubleshooting unexpectedly changing tag values to be more difficult than seeing du

[2019-10-07 13:58] TrejoCode commented on #83
It is correct thought in SSR.
My approach is for the CSR.

[2019-10-11 19:46] tizmagik commented on #83
If anyone's interested in working on this, I think a PR to show how this might work would be helpful. Ideally there should be a way to opt-in (or opt-out) of clobbering.

[2019-10-14 16:36] tizmagik opened #97 "RFC: Managing tags without extra markup"
## Problem

Currently, react-head utilizes `data-rh` attributes in order to manage the tags that it creates. By default, react-head avoids touching tags that it doesn't know about (that don't have `data-rh` attributes). This is so that static tags that are part of a static HTML template are not touched.

There's been a few issues (both in this project and react-helmet) from folks who are intereste

[2019-10-14 16:38] tizmagik commented on #97
I think I'm a fan of Option 2. What are your thoughts @CanRau @TrySound @rdsedmundo @TrejoCode @JoshuaToenyes . Any other options you can think of? Would love your thoughts!

[2019-10-14 16:39] tizmagik commented on #83
Wrote up a quick RFC: https://github.com/tizmagik/react-head/issues/97

[2019-10-14 16:54] TrejoCode commented on #97
For my use, option 2 favors me and in general, it seems like a simple solution to implement.

[2019-10-14 17:19] JoshuaToenyes commented on #97
Very nicely described. Here are my thoughts on each option:

**Option 1 - Manually created whitelist**

Specifically on the "cons" list:
* I don't think the whitelist syntax (`[foo^=bar]`) would be too complicated, and there are [loads of resources](https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors) that could be linked to for the unfamiliar.
* A shared constant between client/s

[2019-10-14 18:32] CanRau commented on #97
I've to add that that CSS like whitelist won't work like that at the moment and I don't know a simple solution to get it working as mentioned here https://github.com/tizmagik/react-head/pull/84#issuecomment-537728374 and possible workarounds here https://github.com/tizmagik/react-head/pull/84#issuecomment-541687323

I'm actually open to any of those 😁I like the use case of a fallback a lot as well

[2019-10-14 18:42] JoshuaToenyes commented on #97
@CanRau Ah, I wasn't aware of the SEO concern or scraping problems on the data attributes. I will read through that issue more carefully!

Our software powers quite a few sites (~100) most using react-head and a few running react-helmet. I haven't noticed an SEO impact using either... but I'm also not doing any detailed SEO analysis on head tags either... I would be _very_ interested if there's an

[2019-10-14 18:44] CanRau commented on #97
Me too actually, yet until that exists I think it’s desirable to take the safe route if possible :wink:

[2019-10-14 19:11] JoshuaToenyes commented on #97
Thank you for pointing that out @CanRau. I revised my opinion on Option 2 above :)

[2019-12-22 03:12] CanRau commented on #97
I know it's christmas just wanted to check for any updates on this?

[2019-12-22 22:49] tizmagik commented on #97
Hey @CanRau thanks for following-up. Apologies but I haven't made progress on this, however, I think based on the discussion here we might at least have a path forward that I'd be open to a PR to add by someone, or I will try and get to myself if I get time.

Anyway, here's the key factors of what I think to be the best approach:

- Easy mental model for users
- Low overhead (both in terms of HTML

[2019-12-25 22:48] CanRau commented on #97
Think that looks good 👍Not sure when I can find time to look into it though 😿
I'm working on a project again right now where I'm already using react-head with the Gatsby plugin, that might help get me working on this, no promises though 😅
At the moment I think I'd use `types` the most, as for the `all` I'd have to check if it'd mess with gatsby-plugin generated meta tags..

`types` may be called s

[2019-12-25 22:54] tizmagik commented on #97
Yea, agreed, “types” is kind of a weird name. Open to other suggestions as well...

[2020-04-21 12:00] osdiab commented on #97
Ran into this issue at my company - I'm glad to help but not sure what's the best avenue. For now planning to just wipe out the existing head tags on JS load to simulate the `all` managed option in our app, but not having the data attributes would be nice.

Thought for the "inferred"/"types" option (maybe `infer` can be the option name?) - is it planning to be at the granularity of "any `meta` tag

[2020-04-21 14:58] tizmagik commented on #97
Thanks for your interest, @osdiab ! Please feel free to submit a PR on this if you're up for it.

I'm fine with `infer` as the option name, that works too. So it would be one of: `all`, `infer` or `specific`. Sounds good 👍

`infer` would opt react-head to manager _all_ tags that were defined somewhere in the tree. So if your tree looked something like this:

[code]

And your HTML template looked s

[2020-06-01 18:26] simonpetry opened #101 "Link canonical cascade"
First off, love the lib. Would there be some merit to cascading a `<link rel="canonical" ... />` tag? (link tags [aren't cascaded](https://github.com/tizmagik/react-head/blob/b1abbf373ad3b934e04a35dedd3036c1ccf9b89b/src/HeadProvider.js#L4) and for good reason)

But this particular `link` tag has a uniqueness requirement akin to `title` and other `meta` tags,
[Multiple `canonicals` are ignored](htt

[2020-06-11 19:35] cmmartin commented on #49
I'm also looking for this functionality and willing to contribute, but I'm not sure the solution to the double load.

For external scripts, caching should make it irrelevant, right?

Inlined scripts are problematic though. We can't not render them on the client or they won't be set when people navigate in the client. Maybe the server could pass some data to the window indicating an inline script i

[2020-06-11 20:07] wmertens commented on #49
Inline scripts could be wrapped with something that makes sure they only run once, but that seems hard to do.
Alternatively, tell the user is up to them to handle that.

[2020-06-12 07:25] wmertens commented on #49
Oh and for external scripts, caching will indeed prevent downloads, but it will still run the script every time. Most scripts already protect against that, so no big issue, and I can't think of workarounds that always work and don't impact preloading etc.

[2020-06-30 20:29] maparent opened #102 "Expose HeadTag?"
I was hoping to create a base tag, and found it is missing. It should be added, but more generally the generic HeadTag should be exposed in the exports.

[2020-07-08 13:55] tizmagik commented on #102
Makes sense, feel free to submit a PR!

[2020-07-08 14:03] tizmagik commented on #101
Interesting! What would a cascading a Link canonical look like? Would we just append them down the tree? 🤔

I guess we could support something like this by tweaking the cascade list here:

https://github.com/tizmagik/react-head/blob/47393b4dc7ca99d53e4d64e1167a119e0860437c/src/HeadProvider.js#L4

Although it would need to be slightly more sophisticated than that if we only want to cascade `<Link r

[2020-09-19 14:28] rish-hub opened #108 "Question: Does it work without ssr for SEO, on fb and twitter ?"
Hi,
I can't have SSR in my current project as my backend is developed by someone else in PHP,
all I have is a server serving static Build of my App built over create-react-app.

It's a blog basically with all normal functionality like reading, creating of blog post and sharing the same
my issue is **SEO**   I am unable to preview the dynamic headers and meta data on social site like facebook and o

[2020-10-09 14:36] tizmagik commented on #108
react-head is a react library, so unless you're rendering react on the server side, there isn't a way to affect meta-tags server side. If possible, I would recommend rendering first server-side and output the HTML to a string that your PHP can pick up and then serve. In that scenario, it should work.

[2020-10-10 13:08] #108 closed

[2020-10-19 16:59] tizmagik commented on #102
Closed in #105

[2020-10-19 16:59] #102 closed

[2021-03-28 03:49] cameronbraid commented on #49
Another use case for `script` tag is to support `<script type="application/ld+json">`.

Is there a need to special case these, or can a `Script`  head tag component be exposed for this purpose ?

[2021-03-28 13:09] cameronbraid commented on #49
For `<script type="application/ld+json">` use case  I added a Script tag in https://github.com/tizmagik/react-head/pull/115

[2021-11-04 08:22] thinhogg11 commented on #97
I need to help :(

[2022-06-02 18:40] itaditya opened #140 "Children prop type missing in HeadProvider"
Getting this TS error

<img width="950" alt="image" src="https://user-images.githubusercontent.com/15871340/171702422-daab0220-dfc8-464b-98d6-e379cfc3226f.png">

Fix for this-

since HeadProvider uses `children` prop, it's typescript definition should include `children: ReactNode`

[2022-06-02 19:19] tizmagik commented on #140
Can you create a reproduction on Codesandbox or something? I'm not able to repro... https://codesandbox.io/s/modest-matsumoto-try7wg?file=/src/App.tsx

[2022-06-02 19:44] itaditya commented on #140
here's a simple Vite based app. Let me know if this will do otherwise I'll make one on Stackblitz.

https://github.com/itaditya/friendly-ui/blob/main/packages/react/src/App.tsx

[2022-06-02 19:47] itaditya commented on #140
I noticed the types in your CSB are of React 17 whereas mine are of React 18

  "dependencies": {
    "react": "18.0.0",
    "react-dom": "18.0.0",
    "react-head": "3.4.0",
    "react-scripts": "4.0.3"
  },

[2022-06-02 20:17] tizmagik commented on #140
Ah, yea I haven't tested react-head against React 18. It's possible it needs some updates. Feel free to open a PR to address any type issues with React 18.

[2022-06-06 02:42] abhishiv commented on #140
Can confirm I face the same issue with react18.

[code]

[2022-08-10 13:10] marhaupe commented on #140
This MR should fix this issue: https://github.com/tizmagik/react-head/pull/146

[2022-08-10 17:56] #140 closed

[2022-08-10 18:01] tizmagik commented on #140
Fixed in [v3.4.2](https://github.com/tizmagik/react-head/releases/tag/v3.4.2)